# Игнорируем данные контейнера PostgreSQL
postgres-data/

# Игнорируем временные файлы и логи Airflow
airflow/logs/
airflow/temp/

# Игнорируем выходные данные, если не нужно версионировать
airflow/output/

# Игнорируем входные данные, если они динамически генерируются или слишком большие
airflow/input/

# Игнорируем конфигурационные файлы, которые могут содержать чувствительную информацию
config/*.yaml
config/*.json

# Игнорируем файлы кэша и временные файлы Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo

# Игнорируем виртуальные окружения
venv/
env/
.venv/

# Игнорируем системные файлы, созданные IDE и операционной системой
.DS_Store
.idea/
.vscode/
Thumbs.db

# Игнорируем файлы Docker
docker-compose.override.yml