# Игнорируем содержимое директорий logs, temp, input, output
airflow/logs/*
airflow/temp/*
airflow/input/*
airflow/output/*

# Исключаем из игнорирования сами папки, оставляя их в репозитории
!airflow/logs/.gitkeep
!airflow/temp/.gitkeep
!airflow/input/.gitkeep
!airflow/output/.gitkeep

# Дополнительно можно добавить игнорирование временных файлов и системных артефактов (опционально)
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo

# Игнорируем виртуальные окружения
venv/
env/
.venv/

# Игнорируем системные файлы IDE и ОС
.DS_Store
.idea/
.vscode/
Thumbs.db